<section>
  <header>
    <h2>Case: dynamic</h2>
  </header>
  <section class="tiles">
    <article class="style1">
      <span class="image">
        <%= image_tag 'pic01.jpg' %>
      </span>
      <a href="#TODO">
        <h2>TODO</h2>
        <div class="content">
          <p>TODO</p>
        </div>
      </a>
    </article>
  </section>
</section>