<section>
  <header>
    <h2>Profile: response_type=id_token</h2>
  </header>
  <section class="tiles">
    <article class="style1">
      <span class="image">
        <%= image_tag 'pic01.jpg' %>
      </span>
      <%= link_to '#TODO' do %>
        <h2>TODO</h2>
        <div class="content">
          <p>TODO</p>
        </div>
      <% end %>
    </article>
  </section>
</section>