<section class="test-cases">
  <%= render 'top/response_type_code' %>
  <%#= render 'top/response_type_code_id_token' %>
  <%#= render 'top/response_type_code_id_token_token' %>
  <%#= render 'top/response_type_code_token' %>
  <%#= render 'top/response_type_id_token' %>
  <%#= render 'top/response_type_id_token_token' %>
  <%= render 'top/configuration' %>
  <%#= render 'top/dynamic' %>
</section>