#footer {
  padding-bottom: 2em !important;
  position: relative;
  .certification_mark {
    a {
      text-decoration: none;
    }
    img {
      position: absolute;
      bottom: 20px;
      right: 20px;
      height: 40px;
      z-index: 10000;
      background: #fff;
    }
  }
}

#wrapper.popup {
  #header {
    padding: 4em 0 2em;
  }
  #footer {
    padding: 2em 0;
    ul {
      margin: 0;
    }
  }
}