<%= render 'layouts/wrapper', with_menu: true, with_social_icons: true do %>
  <header>
    <h1>Certified Connect RP</h1>
    <p>
      RP developed using <a href="https://github.com/nov/openid_connect">OpenID Connect gem</a> and Ruby on Rails.
    </p>
  </header>
  <%= yield %>
<% end %>
